*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:  #F5F5DC;
}

form {
  border: 3px solid #f1f1f1;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;

}

button:hover {
  opacity: 0.8;
}

tr {
  margin: auto;
}

th,
td {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20px;
  width: 20px;
  margin: 20px;
}

.container {
  padding: 24px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.text{
  border: solid 3px pink;
}
.bigContainer {
  display: flex;
  width: 500px;
  margin: auto;
  /* border: 1px black solid; */
  border-radius: 50px;
  position: relative;
  top: 50%;
  transform: translateY(30%);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  background-color: white;
}

.contactTable {
  border: 1px solid black;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
  border: 2px grey solid;
}

#registerContainer{
  transform: translateY(20%);
}

#title {
  text-align: center;
  border-radius: 25px;
  padding: 10px 10px;
  width: 200px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
