body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  border: 3px solid #f1f1f1;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

tr {
  margin: auto;
}

th,
td {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20px;
  width: 20px;
  margin: 20px;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 30px;
  background-color: #f44336;
  margin-left: -14px;
}

.container {
  padding: 16px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.bigContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  min-height: 100;
  margin: auto;
}

.contactTable {
  border: 1px solid black;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

#title {
  text-align: center;
  background-color: green;
  padding: 10px 10px;
  width: 200px;
  margin: auto;
  margin-top: 10px;
}