body {font-family: Arial, Helvetica, sans-serif;}

form {
  border: 3px solid #f1f1f1;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 30px;
  background-color: #f44336;
  margin-left: -14px
}

.container {
  padding: 16px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.links{
  
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}


