* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5dc;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

tr {
  margin: auto;
}

th,
td {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20px;
  width: 20px;
  margin: 20px;
}

.container {
  padding: 36px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.text {
  border: solid 3px pink;
}

.bigContainer {
  display: flex;
  width: 500px;
  margin: auto;
  /* border: 1px black solid; */
  border-radius: 50px;
  position: relative;
  top: 50%;
  transform: translateY(30%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.banner{
  display: flex;
  padding: 25px;
  color: white;
  background-color: black;
  text-align: center;
  justify-content: space-between;
  border-radius: 25px;
  margin: 20px 20px;
  align-items: center;
  
}

/* #fullNames{
  margin-right: 60%;
  border: white 2px solid;
} */

.passwordContainer {
  display: flex;
  width: 500px;
  margin: auto;
  /* border: 1px black solid; */
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  top: 50%;
  transform: translateY(30%);
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.contactTable {
  border: 1px solid black;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
  border: 2px grey solid;
}

#registerContainer {
  transform: translateY(20%);
}

#title {
  text-align: center;
  border-radius: 25px;
  padding: 10px 10px;
  width: 200px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.wrapper{
  background-color: red;
}

.table{
  display: flex;
  padding: 25px;
  margin: 20px 20px;
}

#addedit {
  margin: 20px 20px;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

#addEditButton {
  padding: 10px;
  background-color: #04aa6d;
  margin: 25px 25px;
  border: black 1px solid;
  height: 50px;
  width: 150px;
  border-radius: 15px;
  text-align: center;
  size: 36px;
}

#logoutButton
{
  background-color: red;
  width: 20%;
}